@charset "UTF-8";



body {
    background-color: #c5ebd6;
    margin: 0;
}

header {
    background-image: linear-gradient(to top, rgba(182, 52, 52, 0.747), rgba(8, 117, 8, 0.74)) ;
}

header h1, h2 {
    margin: 0;
    padding: 5px;
    text-align: center;
}

header h1 {
    padding-top: 20px;
    margin-bottom: 5px;
}

nav {
    padding: 5px;
}

nav a {
    padding: 5px;
}

main {
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 800px;
    box-shadow: 0px 0px 10px black;
}

main h1, h2 {
    margin: 0;
    padding: 15px;
    text-align: center;
}

main p {
    text-indent: 2em;
    margin-left: 1em;
    line-height: 1.6em;
}

main img {
    width: 100%;
}

.pq {
    display: block;
    margin: auto;
    width: 50%;
}

div.video {
    position: relative;
    background-color: rgba(0, 255, 76, 0.616);
    margin-bottom: 30px;
    margin: 0, -20, 0, -20;
    padding-bottom: 56%;
}

div.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}